.header {
  min-height: 100px;  
  padding: 20px;
  padding-bottom: 0; 
  border-bottom: 3px solid #668096;

  .logo {
    margin-bottom: 20px;
  }

  .logo-main {
    width: 320px;
    height: 59px;
    color: #bcd1de;
    font-family: Georgia;
    font-size: 76px;
    font-weight: 400;
    line-height: 76px;
    padding-bottom: 15px;
  }

  .sublogo {
    width: 173px;
    height: 12px;
    color: #d2d2d2;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
  }

  .top-nav {
    margin: -10px -50px 0 -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      margin: 10px 50px 10px 50px;
      // &:nth-last-child() {
      //   margin-left: -50px;
      // }
      .content {
        color: #ffffff;
        font-family: Georgia;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          color: #ff9900;
          cursor: pointer; 
        }
      }
      
      .side-info {
        color: #999999;
        font-family: "Arial MT";
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}