@import "constants.scss";
@import "mediaQueries.scss";
@import "header.scss";
@import "shout.scss";
@import "services.scss";
@import "latestWork.scss";
@import "additionalInfo.scss";
@import "footer.scss";

html, body, main {
  height: 100%;
}

main {
  overflow-x: hidden;
  background-color: $main-background-color;
}

